<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recruitment Startup</title>
  <link rel="stylesheet" href="/recruitment/static/application_style.css">
</head>
<body>
  <!-- Header -->
  <header>
    <nav>
      <!-- Add your company logo here -->
      <ul>
        <li><a href="home.html">Recruitment Company</a></li>
        <!-- Add more navigation links here as needed -->
      </ul>
    </nav>
  </header>
  
  <section class="application">
    <div class="container">
      <h2>Submit Your Application</h2>
      <form>
        <input type="text" placeholder="Full Name" required>
        <input type="email" placeholder="Email Address" required>
        <input type="tel" placeholder="Phone Number" required>
        <p>Why You Should Be Hired For This Role</p>
        <input type="text" placeholder="Write Your Answer" required>
        <input type="text" placeholder="Linkedin" required>
        <input type="text" placeholder="GitHub" required>
        <input type="text" placeholder="Instagram">
        <input type="text" placeholder="Twitter">
        <p>Upload Your Resume</p>
        <input type="file" id="myFile" name="filename">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </section>
</body>
</html>